<script id="evento-previsualizar-template" type="text/x-handlebars-template">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content modal-evento-previsualizar">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{titulo_modal}}</h4>
      </div>
      <div class="modal-body">
        <br>
        <p>URL del Evento : <a href="{{BASE_URL}}evento/{{nombre_url}}">{{BASE_URL}}evento/{{nombre_url}}</a></p>
        <br>
        <hr class="hr-modal-evento-previsualizar">
        <h1>{{nombre}}</h1>
				<img class="img-responsive" src="{{STATIC_URL}}assets/img/ing_industrial_2017-04-26_miercoles_de_ingenieria_biopolimero-papa_600x300.jpg" alt="">
				<br>
				<b>{{dia_inicio}} | De {{hora_inicio}} a {{hora_fin}} | {{lugar}}</b>
				<br><br>
        <div style="max-width: 600px">
				  {{{descripcion}}}
        <div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
</script>
