<script id="evento-detelle-template" type="text/x-handlebars-template">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{titulo_modal}}</h4>
      </div>
      <div class="modal-body">
        <label class="texto-der" id="txtMensajeRptaEventoDetalle"></label>
        <label class="oculto" id="lblIdEvento">{{id}}</label>
        <div class="row">
          <div class="col-md-6">
              <div class="form-group">
                <label for="txtNombre">Nombre</label><span class="texto-validacion"></span>
                <input type="text" class="form-control" id="txtNombre" value="{{nombre}}">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="txtNombreURL">Nombre URL</label><span class="texto-validacion"></span>
                <input type="text" class="form-control" id="txtNombreURL" value="{{nombre_url}}">
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-4">
              <div class="form-group">
                <label for="txtLugar">Lugar</label><span class="texto-validacion"></span>
                <input type="text" class="form-control" id="txtLugar" value="{{lugar}}">
              </div>
            </div>
            <div class="col-md-8">
              <div class="form-group">
                <label for="txtDireccion">Dirección</label><span class="texto-validacion"></span>
                <input type="text" class="form-control" id="txtDireccion" value="{{direccion}}">
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-3">
              <div class="form-group">
                <label for="txtFechaInicio">Fecha Inicio</label><span class="texto-validacion"></span>
                <input type="text" class="form-control" id="txtFechaInicio" value="{{dia_inicio}}">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="txtFechaFin">Fecha Fin</label><span class="texto-validacion"></span>
                <input type="text" class="form-control" id="txtFechaFin" value="{{dia_fin}}">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="txtHoraInicio">Hora Inicio</label><span class="texto-validacion"></span>
                <input type="text" class="form-control" id="txtHoraInicio" value="{{hora_inicio}}">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="txtHoraFin">Hora Fin</label><span class="texto-validacion"></span>
                <input type="text" class="form-control" id="txtHoraFin" value="{{hora_fin}}">
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-12">
              <div class="form-group">
                <label for="txtDescripcionEvento">Descripción del Evento</label><span class="texto-validacion"></span>
                <textarea name="txtDescripcionEvento" id="txtDescripcionEvento">{{descripcion}}</textarea>
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button type="button" class="btn btn-default pull-right" id="btnGuardarDetalleEvento"><i class="fa fa-check" aria-hidden="true"></i>Guardar Cambios</button>
          </div>
        </div>
        <hr>
        <div class="row" style="margin-bottom:20px">
          <h4 class="modal-title">Imagen del Evento</h4>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group" style="margin-bottom:10px">
              <label for="txtLongitud" style="width:100%">Foto Menu</label>
              <label id="imagen_id" class="oculto">{{foto}}</label>
						  <input type="file" id="input_file_evento" name="myFile" type="file" class="oculto"/>
              <button id="buscar_file_evento" {{#if disabled}}disabled{{/if}} class="btn btn-default btn-file pull-left"{{#if disable}}disabled{{/if}}><i class="fa fa-file-image-o" aria-hidden="true"></i>Buscar </button>
              <button id="upload_file_evento" {{#if disabled}}disabled{{/if}} class="btn btn-default btn-file pull-left"{{#if disable}}disabled{{/if}}><i class="fa fa-upload" aria-hidden="true"></i>Subir </button>
    					<a href="{{foto_url}}"  target="_blank" id="view_file" class="btn btn-default btn-file pull-left {{#ifEquals foto ''}}oculto{{/ifEquals}}"><i class="fa fa-search" aria-hidden="true" style="margin-right: 5px"></i>Ver </a>
              <button type="button" {{#if disabled}}disabled{{/if}} class="btn btn-default {{#ifEquals foto ''}}oculto{{/ifEquals}}" id="btnAsociarMenuExposicion"><i class="fa fa-check" aria-hidden="true"></i>Asociar Imagen</button>
    					<progress id="progbar" value="0" min="0" max="100" class="oculto" role=""></progress>
            </div>
          </div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
</script>
