<script id="evento-detelle-template" type="text/x-handlebars-template">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{titulo_modal}}</h4>
      </div>
      <div class="modal-body">
        <label class="texto-der" id="txtMensajeRptaUsuarioDetalle"></label>
        <div class="row">
          <div class="col-md-6">
              <div class="form-group">
                <label for="txtUsuario">Nombre</label><span class="texto-validacion"></span>
                <input type="text" class="form-control" id="txtNombre" value="{{nombre}}">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="txtCorreo">Nombre URL</label><span class="texto-validacion"></span>
                <input type="text" class="form-control" id="txtNombreURL" value="{{nombre_url}}">
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-4">
              <div class="form-group">
                <label for="txtUsuario">Lugar</label><span class="texto-validacion"></span>
                <input type="text" class="form-control" id="txtLugar" value="{{lugar}}">
              </div>
            </div>
            <div class="col-md-8">
              <div class="form-group">
                <label for="txtCorreo">Dirección</label><span class="texto-validacion"></span>
                <input type="text" class="form-control" id="txtDireccion" value="{{direccion}}">
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-3">
              <div class="form-group">
                <label for="txtUsuario">Fecha Inicio</label><span class="texto-validacion"></span>
                <input type="text" class="form-control" id="txtFechaInicio" value="{{dia_inicio}}">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="txtCorreo">Fecha Fin</label><span class="texto-validacion"></span>
                <input type="text" class="form-control" id="txtFechaFin" value="{{dia_fin}}">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="txtUsuario">Hora Inicio</label><span class="texto-validacion"></span>
                <input type="text" class="form-control" id="txtHoraInicio" value="{{hora_inicio}}">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="txtCorreo">Hora Fin</label><span class="texto-validacion"></span>
                <input type="text" class="form-control" id="txtHoraFin" value="{{hora_fin}}">
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-12">
              <div class="form-group">
                <label for="txtUsuario">Descripción del Evento</label><span class="texto-validacion"></span>
                <textarea name="txtDescripcionEvento" id="txtDescripcionEvento"><p>Initial editor content.</p></textarea>
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button type="button" class="btn btn-default pull-right" id="btnGuardarDetalleEvento"><i class="fa fa-check" aria-hidden="true"></i>Guardar Cambios</button>
          </div>
        </div>
        <hr>
        <div class="row" style="margin-bottom:20px">
          <h4 class="modal-title">Imagen del Evento</h4>
        </div>
        <div class="row">
          <div class="col-md-3">
              <div class="form-group">
                <label for="txtUsuario">Fecha Inicio</label><span class="texto-validacion"></span>
                <input type="text" class="form-control" id="txtFechaInicio" value="{{dia_inicio}}">
              </div>
            </div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
</script>
