<script id="empleado-detelle-template" type="text/x-handlebars-template">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{titulo_modal}}</h4>
      </div>
      <div class="modal-body">
        <label class="texto-der" id="txtMensajeExternoDetalle"></label>
        <label class="oculto" id="lblIdExterno">{{id}}</label>
        <div class="row">
          <div class="col-md-2">
            <div class="form-group">
              <label for="txtDNI">DNI</label>
              <input type="text" class="form-control" id="txtDNI" value="{{dni}}" {{#if disabled}}disabled{{/if}}>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="txtCorreoAlumno">Correo</label>
              <input type="text" class="form-control" id="txtCorreo" value="{{correo}}" {{#if disabled}}disabled{{/if}}>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="txtTelefono">Telefono</label>
              <input type="text" class="form-control" id="txtTelefono" value="{{telefono}}" {{#if disabled}}disabled{{/if}}>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="txtNombres">Nombres</label>
              <input type="text" class="form-control" id="txtNombres" value="{{nombres}}" {{#if disabled}}disabled{{/if}}>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="txtPaterno">Apellido Paterno</label>
              <input type="text" class="form-control" id="txtPaterno" value="{{paterno}}" {{#if disabled}}disabled{{/if}}>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="txtMaterno">Apellido Paterno</label>
              <input type="text" class="form-control" id="txtMaterno" value="{{materno}}" {{#if disabled}}disabled{{/if}}>
            </div>
          </div>
        </div>
        {{#unless disabled}}
        <div class="row">
          <div class="col-md-12">
            <button type="button" class="btn btn-default pull-right" id="btnGuardarDetalleExterno"><i class="fa fa-check" aria-hidden="true"></i>Guardar Cambios</button>
          </div>
        </div>
        {{/unless}}
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
</script>
